# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore
#
# Core
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/*
/wp-content/themes/*
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
#
# Configuration
wp-config.php
#
# Example themes
/wp-content/themes/twenty*/
#
# Example plugin
/wp-content/plugins/hello.php
#
# Uploads
/wp-content/uploads/
#
# Log files
*.log
#
# htaccess
/.htaccess
#
# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
# /wp-content/plugins
#
# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
# /wp-content/themes
#
# Backups
/wp-contents/ai1wm-backups/
#
# If you use a2 hosting we need to remove thsese additional files
/cgi-bin
/robots.txt
# Now add the files we are working on
!/wp-content/themes/torno-child
!/wp-content/themes/torno-plugin
